In [31]:
def is_palindrome(list):
    return list[::-1] == list

In [35]:
[*range(2, 2*10, 2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
def is_factor(n, d):
    return n % d == 0

In [44]:
def get_factors(n):
    xs = [*range(1, n)]
    return [x for x in xs if is_factor(n, x)]

In [52]:
def is_perfect_number(n):
    return sum(get_factors(n)) == n

In [59]:
is_perfect_number(497)

False

In [80]:
sum(x**3 for x in (int(x) for x in str(123)))

36